
		/*NEW CSS*/
	.main-title{
		font-family:"Bookman, URW Bookman L, serif"; 
		 color:#000;
		 font-size: 23px;
		 text-align: center;
	}	
	html, body {
		max-width: 100%;
		overflow-x: hidden;
	}
a.nav-link {
    COLOR: WHITE!important;
	
}
a.nav-link:hover {
    color: black!important;
	background-color:#007bff ;
	
}
.navbar-brand{
	font-size: 2.25rem!important;
}
button.navbar-toggler {
    margin-right: 25px;
   
}
a.dropdown-item:hover {
    color: black!important;
	background-color:#007bff ;
}
a.dropdown-item {
    color: white!important;
}

.dropdown-menu {
    background-color: #007bff!important;
}

.Announcmnt {
    color: red;
    font-size: 30px;
    text-align: center;
    font-family: roboto;
}
.ayat-of-day{
	color:  #546e7a;
	font-weight: bold;
}
.hadees-of-day{
	color: #f4511e;
	font-weight: bold
}
.fatwa-of-day{
	color: #ffab00;
	font-weight: bold
}
.events {
    color: black;
    font-weight: bold;
}
.department {
    color: red;
    font-weight: bold;
}
.books {
    font-weight: bold;
    padding: 0.4em;
}
.card{
	border: 1px solid white;
}